@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700)

body
  background: white
  font-family: 'Open Sans', sans-serif


#main
  width: 90%
  max-width: 700px
  position: absolute
  left: 50%
  transform: translate(-50%)

  h1
    text-align: center
    margin: 0
    font:
      size: 30px
      weight: 200

  .seperator
    height: 2px
    background: #e3e3e3
    width: 80%
    border: none
    margin-bottom: 30px

  h2
    margin: 0
    font:
      size: 25px
      weight: 600

  h3
    margin: 10px 0 0 0
    font:
      size: 22px
      weight: 400

  p
    margin: 0
    letter-spacing: -.003em
    line-height: 1.58
    font:
      size: 18px
      weight: 100



@media(max-width: 769px)
  #main
    h1
      font-size: 28px

    h2
      font-size: 23px

    h3
      font-size: 20px

    p
      font-size: 16px
